# oxfmt uses this file instead of `.oxfmtignore`

# oxfmt handles everything except Svelte
*.svelte

# artifacts
build/
coverage/
.svelte-kit/

# Agents
.claude/

# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb
