@import "tailwindcss";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "flowbite/plugin";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-primary-50: #ad96b6;
	--color-primary-100: #9c80a7;
	--color-primary-200: #8c6b99;
	--color-primary-300: #7b568a;
	--color-primary-400: #6b417c;
	--color-primary-500: #5a2c6d;
	--color-primary-600: #512862;
	--color-primary-700: #482357;
	--color-primary-800: #3f1f4c;
	--color-primary-900: #361a41;

	--color-secondary-50: #f8e287;
	--color-secondary-100: #f7dc6e;
	--color-secondary-200: #f5d656;
	--color-secondary-300: #f4d03e;
	--color-secondary-400: #f2ca26;
	--color-secondary-500: #f1c40e;
	--color-secondary-600: #d9b00d;
	--color-secondary-700: #c19d0b;
	--color-secondary-800: #a9890a;
	--color-secondary-900: #917608;
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
	html,
	body {
		height: 100%;
		overflow-x: hidden;
	}

	h1 {
		font-size: var(--text-3xl);
		line-height: var(--text-3xl--line-height);
	}
	h2 {
		font-size: var(--text-2xl);
		line-height: var(--text-2xl--line-height);
	}
	h3 {
		font-size: var(--text-xl);
		line-height: var(--text-xl--line-height);
	}
	h4 {
		font-size: var(--text-lg);
		line-height: var(--text-lg--line-height);
	}
	h5 {
		font-size: var(--text-base);
		line-height: var(--text-lg--line-height);
	}
	h6 {
		font-size: var(--text-sm);
		line-height: var(--text-lg--line-height);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: var(--font-weight-semibold);
	}

	a {
		@apply transition;
		color: var(--color-blue-600);
	}
	a:hover {
		color: var(--color-blue-800);
	}

	img {
		max-width: 100%;
		height: auto;
	}

	button,
	[role="button"] {
		cursor: pointer;
	}

	/* disable chrome cancel button */
	input[type="search"]::-webkit-search-cancel-button {
		display: none;
	}
}
